body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 250, 239) !important;
    margin: 0;
    padding: 0;
    height: 100vh !important;
    width: 100% !important;
}

a {
    color: rgb(175, 186, 216) !important;
    font-family: 'Rubik', sans-serif;
}

a:hover {
    color: rgb(245, 255, 255) !important;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: unset !important;
    background-color: rgb(174, 174, 174) !important;
}

.progress-bar {
    background-color: rgb(39, 52, 92) !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    background-color: rgb(254, 250, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-left {
    background-color: rgb(39, 52, 92);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.col-right-welcome-page {
    background-color: rgb(247, 247, 247);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url("MockUp/brainbg.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.col-right-play-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(247, 247, 247);
    position: relative;
}

.col-right-end-page {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 3%;
}

.head-evaluation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-page-font {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.end-title-container {
    display: flex;
    flex-direction: column;
}

.brain-logo {
    width: 120px;
    margin-bottom: 15px;
}

.your-score-txt {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(246, 134, 48);
}

.score-evaluation {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-left: 40px;
}

.end-page-buttons {
    width: 200px;
    font-family: 'Rubik', sans-serif;
    border-radius: 1rem !important;
}

.replay-button {
    border-color: transparent !important;
    background-color: transparent !important;
    color: rgb(24, 60, 232) !important;
}

.replay-button:hover {
    color: rgba(24, 60, 232, 0.5) !important;
}

.pocal-logo {
    height: 300px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.ned-page-button-container {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    height: 600px;
}

.quizz-app-logo {
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 70%;
}

.nav-link {
    font-size: 30px;
    position: relative;
}

.left-pin {
    position: absolute;
    width: 5px;
    height: 30px;
    background-color: white;
    left: -22px;
    top: 15px;
}

.d-none {
    display: none;
}

.welcome-to {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.welcome-challenge {
    font-size: 'PT Sans', sans-serif;
    font-size: 25px;
    text-align: center;
}

.start-btn {
    position: absolute;
    right: 40px;
    bottom: 40px;
    background-color: rgb(254, 79, 12) !important;
    border-color: rgb(254, 79, 12) !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px !important;
    box-shadow: unset;
    font-size: 1.2rem !important;
}

.start-btn:hover {
    background-color: rgb(201, 69, 17) !important;
}

.btn-start-arrow {
    filter: invert();
    height: 15px;
    margin-left: 20px;
    margin-right: 10px;
}

.start-btn-txt {
    margin-left: 20px;
}

.list-group {
    width: 80%;
    word-break: break-all;
}

.list-group-item {
    margin-top: 10px;
    min-height: 85px;
}

.lgi-correct-answer-color {
    background-color: rgb(183, 247, 153) !important;
}

.lgi-wrong-answer-color {
    background-color: rgb(255, 163, 164) !important;
}

.acb-correct-color {
    background-color: rgb(79, 190, 26) !important;
    color: white;
}

.acb-wrong-color {
    background-color: rgb(248, 24, 25) !important;
    color: white;
}

.play-question {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}

.disable-Item {
    pointer-events: none;
}

.answer-char-box {
    min-height: 50px;
    min-width: 50px;
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.custom-button {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.answer-txt {
    font-family: 'Rubik', sans-serif;
    margin-left: 50px;
    font-size: 25px;
}

.circle-arrow {
    height: 50px;
    width: 50px;
    background-color: rgb(218, 225, 244);
    border-radius: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -13%;
}

.circle-arrow-left {
    left: 0;
}

.circle-arrow-right {
    right: 0;
}

.arrow-left {
    height: 60%;
}

.arrow-right {
    height: 60%;
}

/* ################################ */

@media(max-width: 576px) {
    body {
        height: unset !important;
    }
    .left-pin {
        opacity: 0;
    }
    .container {
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
    }
    .answer-txt {
        font-size: 20px !important;
    }
    .nav {
        writing-mode: vertical-rl !important;
        text-orientation: upright !important;
        margin-block-start: 0 !important;
        padding-inline-start: 0 !important;
        margin-top: -300px !important;
    }
    .nav-item{
        max-width: 50px !important;
    }
}

@media(max-width: 768px) {
    body {
        height: unset !important;
    }
    .left-pin {
        opacity: 0;
    }
    .container {
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
    }
    .answer-txt {
        font-size: 20px !important;
    }
    .play-question {
        font-size: 30px;
    }
    .answer-txt {
        margin-left: 25px;
    }
}

@media(max-width: 992px) {
    body {
        height: unset !important;
    }

    .container {
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
    }
}

@media(max-width: 1200px) {
    .answer-txt {
        font-size: 22px !important;
    }
}

@media(min-width: 576px) {}

@media(min-width: 768px) {

    .answer-txt {
        font-size: 22px !important;
    }
    
    .left-pin {
        opacity: 1;
        left: -2px;
    }
}

@media(min-width: 992px) {
    .left-pin {
        left: -22px;
    }}

@media(min-width: 1200px) {
    .left-pin {
        left: -37px;
    }
}

@media(min-width: 1400px) {
    .left-pin {
        left: -52px;
    }
}